<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwBHx4ngt0hSjO0XdN3J1DaWUA0XmFjtM</string>
	<key>GCM_SENDER_ID</key>
	<string>740465389501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pancakeApp</string>
	<key>PROJECT_ID</key>
	<string>pancake-app-7698a</string>
	<key>STORAGE_BUCKET</key>
	<string>pancake-app-7698a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740465389501:ios:bcd2010721a35a3677acd4</string>
</dict>
</plist>